<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="body">
        <h1>Create a chat</h1><br/>
        <form method="post" action="/chats">
            <input placeholder="To" name="from">
            <br/><br/>
            <input placeholder="insert your image url" name="image"><br/><br/>
            <textarea placeholder="Write your message" name="message"></textarea>
            <br/><br/>
            <button>Create</button>
        </form>
    </div>
</body>
</html>